body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    overflow: hidden;
}
.slideshow {
    width: 90vw;
    height: 50vw;
    max-width: 1400px;
    max-height: 800px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.corner-only {
    --s: 35px;
    border: 8px solid #e5e1e1; 
    padding: 10px;
    position: absolute;
    right: 10%;
    top: 45%;
    height: 150px;
    width: 200px;
    background: #1b1a1a content-box;
    color: #fff;
    transform: none;
    animation: none;
    mask: 
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
      0 0/calc(100% - var(--s)) calc(100% - var(--s));
}
.corner-only p{
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
    color: yellow;
  }

/*IMAGE ANIMATION*/
.slide {
    position: absolute;
    inset: 0;
    background-size: 110%;
    background-position: center;
    opacity: 0;
    animation-delay: 6s;
    z-index: 1;
    animation: fadeInOut 42s infinite ease-in-out, panImageLeft 12s infinite ease-out, zoomEffect 12s infinite ease-in-out;
    background-repeat: no-repeat;
}

.slide:nth-child(2n) {
    animation:fadeInOut 42s infinite ease-in-out, panImageBottom 12s infinite ease-out,  zoomEffect 12s infinite ease-in-out;
}
.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 6s; }
.slide:nth-child(3) { animation-delay: 12s; }
.slide:nth-child(4) { animation-delay: 18s; }
.slide:nth-child(5) { animation-delay: 24s; }
.slide:nth-child(6) { animation-delay: 30s; }
.slide:nth-child(7) { animation-delay: 36s; }
/*.slide:nth-child(8) { animation-delay: 42s; }
.slide:nth-child(9) { animation-delay: 48s; }
.slide:nth-child(10) { animation-delay: 54s; } */

.slide:nth-child(n) { 
    animation-delay: calc((n - 1) * 6s); 
}

@keyframes fadeInOut {
    0%, 16.66% { opacity: 0; }
    8.33%, 13.88% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes panImageLeft {
    0% { background-position: 100% center; }
    100% { background-position: 0% center; }
}
@keyframes panImageRight {
    0%{ background-position: 0% center; }
    100%{ background-position: 100% center; }
}
@keyframes panImageBottom {
    0% { background-position: center 100%; }
    100% { background-position: center 0%; }
}
@keyframes zoomEffect {
    0%, 100% { transform: scale(1.05); }
    50% { transform: scale(1.15); }
}